$bg-color: #fff;
$bg-subcolor: #fafafa;
$body-font-color: #000;
$dominant-color: #5f29cc;
$body-font-size: 16px;
$body-font-height: 20px;


$retina: "(min-resolution: 144dpi), (min-resolution: 1.5dppx)";
