.help {
  text-align: center;
  color: #fff;

  background: #555 url(../img/bg-help@1x.jpg) no-repeat 50% 50%;

  @media #{$retina} {
    background-image: url(../img/bg-help@2x.jpg);
    background-size: 1440px auto;
  }
}

.help__content {
  min-height: 540px;
  margin: 0 auto;
}

.help__advantage {
  display: block;
  width: 630px;
  margin: 0 auto;
  padding-top: 171px;

  color: inherit;
}

.help__text {
  width: 630px;
  margin: 20px auto;

  font-size: 16px;
  line-height: 26px;
  color: inherit;
}

.help__button {
  display: inline-block;
  width: 242px;
  margin-top: 26px;
  padding: 17px 15px;

  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
}


